@charset "utf-8";


body {
  font-family: 'メイリオ', Meiryo, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  background-color: black;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.08em;
}

.inner {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}




/* ---------- header ---------- */

#home header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
}

header .navbox {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}

header nav ul li {
  font-family: "Caprasimo", serif;
  position: relative;
}

header nav ul li a {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

header nav ul li a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 15px;
  background-color: #fff;
}

header nav ul li:first-child a::after {
  display: none;
}

header .navbox a {
  color: #fff;
  font-size: 15px;
}



/* ---------- スライド ---------- */
.slider {
  position: relative;
  margin-bottom: 100px;
}
/* .slider.inner img {
  width: 1200px;
} */
.slider {
  height: 100%;
  margin-inline: auto;
  overflow: hidden;
  /* 画像がはみ出ないようにする */
  width: 1280px;
}

.slick-img img {
  width: 100%;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
    /* 拡大率 */
  }
}

.add-animation {
  animation: zoomUp 10s linear 0s normal both;
}




/* ---------- main ---------- */
main {
  margin-bottom: 200px;
}





/* ---------- footer ---------- */
footer {
  padding: 0 40px 40px 40px;
}

footer h1 img {
  height: 50px;
}

footer .fobox {
  display: flex;
  justify-content: space-between;
}

footer .box2 {
  display: flex;
}

footer address {
  font-size: 13px;
  line-height: 19px;
  font-style: normal;
  margin-left: 10px;
}

footer .box3 span {
  background-color: #F8B62D;
  display: block;
  line-height: 48px;
  width: 270px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

footer .box3 span i {
  margin-right: 10px;
}

footer .box3 span a {
  color: #fff;
  text-decoration: none;
  display: block;
}

footer p {
  font-size: 12px;
  text-align: right;
}





/* ---------- home ---------- */
#home main section {
  margin-bottom: 200px;
}
#home main section:last-child {
  margin-bottom: 0px;
}

#home main .topicbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#home main section .topicbox h2 {
  width: 100px;
  font-size: 18px;
  font-family: "Caprasimo", serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#home main section .fa-utensils {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

main section .topic img {
  margin-bottom: 20px;
}

main section .topic h3 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

main section .topic p {
  color: #fff;
  font-size: 13px;
}

main section .topic a {
  text-decoration: none;
}

#home main section .bottun {
  background-color: red;
  display: block;
  width: 240px;
  line-height: 46px;
  font-family: "Caprasimo", serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

#home main section .bottun i {
  font-size: 18px;
  margin-right: 10px;
}

#home main section:nth-child(3) {
  background-color: #fff;
  padding-bottom: 295px;
  margin-bottom: 0px;
}

#home main .ko {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#home main .ko h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#home main .ko p {
  line-height: 42px;
  text-align: center;
}

#home main section .box {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

#home main section .instabox {
  width: 557px;
  margin-top: 60px;
  margin-bottom: 60px;
}

#home main section .instabox h2 {
  font-size: 25px;
  font-family: "Caprasimo", serif;
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

#home main section .insta1 {
  width: 465px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#home main section .insta2 {
  width: 465px;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

#home main .instato {
  display: block;
  margin-top: 60px;
}

main .truck {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.food {
  position: absolute;
  top: -295px;
}

#home main .map {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#home main .massage {
  position: relative;
  margin-bottom: 100px;
}

#home main .box4 {
  display: flex;
  align-items: flex-start;
  padding-top: 360px;
}

#home main section .fo {
  margin-left: 100px;
}

#home main section .fo h2 {
  text-align: left;
  margin-bottom: 20px;
}

#home main section .fo p {
  font-size: 14px;
  line-height: 42px;
}

#home main section .fu1 {
  position: absolute;
  top: 854px;
  left: 215px;
}

#home main section .fu2 {
  position: absolute;
  top: 938px;
  left: -66px;
}

#home main section .fu3 {
  position: absolute;
  top: 593px;
  left: -140px;

}

.back-top {
  position: fixed;
  bottom: 3%;
  right: 5%;
  display: none;
}

#home main section .moveimg {
  opacity: 0;
}
#home main section .moveimg.on {
  opacity: 1;
}


/* ---------- concept ---------- */
main h2 {
  font-size: 25px;
  font-family: "Caprasimo", serif;
  text-align: center;
  margin-bottom: 60px;
}

main .ko {
  width: 1000px;
  margin-bottom: 200px;
  position: relative;
}

main section .img2 {
  display: block;
  position: absolute;
  left: -76px;
  top: -3px;
}

main section .img3 {
  position: absolute;
  left: -126px;
  top: 158px;
}

main section .img4 {
  position: absolute;
  left: 776px;
  top: -3.33px;
}

main section .img5 {
  position: absolute;
  left: 782px;
  top: 2px;
}




/* ---------- topics ---------- */
.contents {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.toimg {
  margin-bottom: 60px;
  text-align: center;
}
#topics h2 {
  font-size: 25px;
  font-family: "Caprasimo", serif;
  text-align: center;
  margin-bottom: 60px; 
}
#topics main section {
  display: flex;
  margin-bottom: 70px;
}
#topics main section:last-child {
  margin-bottom: 0px;
}

#topics main section .topic {
  margin-left: 60px;
}
#topics main section .topic:first-child {
  margin-left: 0px;
}
#topics aside {
  width: 300px;
}
#topics aside h3 {
  font-size: 18px;
  font-family: "Caprasimo", serif;
  padding-bottom: 10px; 
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin-bottom: 30px;
}
#topics aside .cate {
  margin-bottom: 45px;
}
#topics aside ul {
  font-size: 14px;
  list-style-type: none;
}
#topics aside ul li {
  margin-bottom: 15px;
}
#topics aside ul li a {
  color: #fff;
  text-decoration: none;
}



/* ---------- menu ---------- */
#menu main h2 {
  font-size: 50px;
}
.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;/*　はみ出た色要素を隠す　*/
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*中の要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:2s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
	animation-name:bgLRextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;/*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}
#menu main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#menu main h2 {
  margin-bottom: 100px;
}
#menu main section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
#menu main section:nth-child(5) {
  padding-left: 30px;
  padding-right: 30px;
}
#menu main section:nth-child(6) {
  display: block;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 0px;
}
#menu main section h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
#menu main section table {
  width: 500px;
}
#menu main section table tr {
  line-height: 25px;
  vertical-align: middle;
  border-bottom: 1px solid #fff;
}
#menu main section table th {
  padding-top: 5px;
  padding-bottom: 5px;
}
#menu main section table td {
  width: 100px;
  text-align: right;
}
#menu .k table {
  width: 100%;
}
main section .bbq img {
  margin-bottom: 10px;
}
main section .bbq h4 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
main section .bbq p {
  font-size: 20px;
  text-align: center;
}



/* ---------- event ---------- */
#event main h2 {
  font-size: 50px;
  margin-bottom: 100px;
}
#event main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#event main h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
#event main iframe {
  margin-bottom: 20px;
}
#event main .ske {
  margin-bottom: 100px;
}
#event main p {
  margin-bottom: 30px;
}
#event main table {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  margin-bottom: 20px;
}
#event main table th {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  text-align: right;
  padding-right: 10px;
}
#event main table td {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  vertical-align: middle;
}
#event main table td input {
  border: 1px solid black;
  width: 300px;
  height: 25px;
}
#event main table td textarea {
  border: 1px solid black;
  width: 300px;
  height: 200px;

}
main figure {
  margin-bottom: 20px;
}
#event main .contact {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  color: black;
}
#event main .contact button {
  display: block;
  width: 150px;
  line-height: 40px;
  font-family: "Caprasimo", serif;
  font-size: 14px;
  color: #fff;
  background-color: red;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}


/* ---------- diary ---------- */
#diary main h2 {
  font-size: 50px;
  margin-bottom: 100px;
}
#diary main {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#diary main .box4 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
#diary main .box5 {
  display: inline-block;
}
#diary main .di {
  margin-bottom: 100px;
}
#diary main .di figcaption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}
#diary main p {
  text-align: center;
}


/* --------- */
#article h2 {
  font-size: 25px;
  font-family: "Caprasimo", serif;
  text-align: center;
  margin-bottom: 60px; 
}
#article aside {
  width: 300px;
}
#article main section h3 {
  width: 580px;
  font-size: 20px;
  padding-top: 20px;
  border-top: 1px solid #fff;
  margin-bottom: 15px;
}
#article main section p {
  font-size: 13px;
  margin-bottom: 30px;
}
#article main section img {
  margin-bottom: 30px;
}
#article main .moji {
  line-height: 22px;
}
#article aside h4 {
  font-size: 18px;
  font-family: "Caprasimo", serif;
  padding-bottom: 10px; 
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin-bottom: 30px;
}
#article aside .cate {
  margin-bottom: 45px;
}
#article aside ul {
  font-size: 14px;
  list-style-type: none;
}
#article aside ul li {
  margin-bottom: 15px;
}
#article aside ul li a {
  color: #fff;
  text-decoration: none;
}